*{

box-sizing:border-box;

}



body{

margin:0;

font-family:

Arial, Helvetica, sans-serif;

background:#f2f3f5;

color:#111;

transition:.3s;

}




header{

height:70px;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 40px;

background:white;

border-bottom:1px solid #ddd;

}




.logo{

font-size:25px;

font-weight:900;

}



nav{

display:flex;

align-items:center;

}



nav a{

text-decoration:none;

color:#555;

margin-left:25px;

font-weight:bold;

}



#theme{

margin-left:20px;

font-size:22px;

background:none;

border:0;

cursor:pointer;

}




.hero{

text-align:center;

padding:50px 20px;

}



.hero h1{

font-size:40px;

margin-bottom:10px;

}



.hero p{

color:#666;

}




#search{

width:420px;

max-width:90%;

padding:15px 20px;

border-radius:12px;

border:1px solid #ccc;

font-size:16px;

}





main{

max-width:1200px;

margin:auto;

padding:20px;

}




#grid{

display:grid;

grid-template-columns:

repeat(auto-fit,minmax(350px,1fr));

gap:25px;

}





.card{


display:flex;

gap:20px;

background:white;

border-radius:18px;

padding:22px;

box-shadow:

0 10px 30px rgba(0,0,0,.08);

transition:.25s;

}



.card:hover{

transform:translateY(-5px);

}





.icon img{


width:100px;

height:100px;

border-radius:20px;

object-fit:cover;

}





.content{

flex:1;

}





.title{

display:flex;

align-items:center;

gap:10px;

}



.title h2{

margin:0;

font-size:22px;

}




.title span{


background:#111;

color:white;

font-size:12px;

padding:5px 12px;

border-radius:20px;


}




.description{

color:#666;

line-height:1.5;

}





.info{

background:#f5f5f5;

padding:12px;

border-radius:12px;

font-size:14px;

}



.info p{

display:flex;

justify-content:space-between;

margin:6px 0;

}





.download{

display:block;

margin-top:15px;

text-align:center;

background:#111;

color:white;

padding:12px;

border-radius:12px;

text-decoration:none;

font-weight:bold;

}




.download:hover{

background:#333;

}






/* DARK MODE */


body.dark{

background:#080b10;

color:#eee;

}



body.dark header{

background:#10141a;

border-color:#222;

}



body.dark nav a{

color:#ddd;

}



body.dark .hero p{

color:#aaa;

}




body.dark #search{

background:#151a22;

color:white;

border-color:#333;

}





body.dark .card{

background:#121820;

color:white;

box-shadow:

0 10px 30px rgba(0,0,0,.5);

}




body.dark .description{

color:#aaa;

}





body.dark .info{

background:#1b222c;

}




body.dark .title span{

background:#2563eb;

}



body.dark .download{

background:#2563eb;

}



body.dark .download:hover{

background:#1d4ed8;

}
