* {
box-sizing:border-box;
}

body {
margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#070b12;
color:white;
}


header {
height:75px;
display:flex;
align-items:center;
justify-content:space-between;
padding:0 45px;
background:#0d1522;
border-bottom:1px solid #1d3048;
}


.brand {
font-size:28px;
font-weight:bold;
color:#4da3ff;
}


nav a {
color:#ddd;
text-decoration:none;
margin:0 15px;
}


button {
background:#16263b;
color:white;
border:0;
padding:10px 15px;
border-radius:8px;
cursor:pointer;
}



.hero {
padding:50px;
background:
linear-gradient(135deg,#101c30,#070b12);
}


.hero h1 {
font-size:42px;
margin:0;
}


.hero p {
color:#9fb2ca;
font-size:18px;
}



main {
padding:40px;
}



#search {
width:100%;
padding:16px;
background:#101a2b;
border:1px solid #263b55;
border-radius:12px;
color:white;
font-size:16px;
margin-bottom:35px;
}



#grid {
display:grid;
grid-template-columns:
repeat(auto-fill,minmax(300px,1fr));
gap:25px;
}



.card {

background:#101826;

border:1px solid #223650;

border-radius:18px;

padding:25px;

transition:.2s;

}



.card:hover {

transform:translateY(-5px);

border-color:#4da3ff;

}



.card img {

width:90px;
height:90px;
border-radius:18px;
object-fit:cover;
background:#18263a;

}



.card h2 {

margin:15px 0 5px;

}



.badge {

display:inline-block;

padding:5px 12px;

background:#17477d;

border-radius:20px;

font-size:13px;

margin-right:5px;

}



.info {

color:#aabbd0;

line-height:1.6;

}



.download {

display:block;

margin-top:20px;

padding:14px;

text-align:center;

background:#147cff;

border-radius:12px;

color:white;

font-weight:bold;

text-decoration:none;

}



.download:hover {

background:#3990ff;

}
